-- ===============================
-- AUTHOR     :Kevin McGoldrick
-- CREATE DATE     :2017
-- PURPOSE     :Stored procedure to add a new customer to the database
--
-- SPECIAL NOTES:This procedure only requires that the customer first and last
--					names are provided, the guid, create date, and last update date
--					are generated by SQL.
-- ===============================
-- Change History:
--
--==================================

USE [mmsis]
GO
/****** Object:  StoredProcedure [dbo].[spAddContact]    Script Date: 1/10/2018 11:33:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[spAddContact](
	@ContactFirstName varchar(50),
	@ContactLastName varchar(50))
AS
BEGIN
INSERT INTO Contact(
[ContactFirstName],
[ContactLastName],
[ContactId],
[ContactCreated],
[ContactLastUpdate])
VALUES(
@ContactFirstName,
@ContactLastName,
NewID(),
GetDate(),
GetDate())
END